<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
    <title>DOM</title>
</head>

<body>
    <header>
        <h1> Historic Jardin Del Valle was built in the 1960s with major renovations completed in 2018! Casa Blanca was begun and completed in 2020. </h1>
        <nav>
            <button id="topics">Fade in Navigation</button>
                <a href='/'>Home</a>
                <!-- <a href='/test/'>Test page</a>  -->
                <a href='/about/'>About Page</a>
                <a href='/contributors/'>Contributors Page</a>
                <!-- <a href='/form/'>Sign up form</a>
                <a href='/the-shop'> The Ninja Shop</a>
                <a href= '/pies/'>Choose your Pizza Pie</a>
                <a href= '/addNew/'>Add a New Pie</a>  -->
            </nav>
    </header>
    <div class="main">
        <section>
            <p>I am a paragraph</p>
            <p>I am also a paragraph</p>
            <button id='hide'>Click to hide paragraph</button>
            <button id='show'>Click to show paragraph</button>
        </section>
        <section>
            <img src="{% static 'images/1960sStyleHouse.jpg' %}" alt='1960s Style house with American Family' class='sixtieshouse'/>
            <img src="{% static 'images/JardinDelValle.jpg' %}" alt='General landscaping Art' class='landscapingart'/>
            <img src="{% static 'images/UShapedDriveway.jpg' %}" alt='U Shaped Driveway' class='driveway'/>
            <button id='fadeInImg'>Private Road, No Trespassing; Also, Stay off My lawn and grass!!</button>
            <img src="{% static 'images/WomenInGarden.jpg' %}" alt='Two Turn of Century Women in Garden Painting' class='TwoWomenInGardenPainting'/>
        </section>
        <section>
            <h3 id='append'></h3>
            <button id='addMore'> Add more text</button>
        </section>
    </div>
        <!-- 
    <div id="wrapper">
        <div id="head">
            <ul>
                <li>Ninja Pizza</li>
                <img src="{% static 'images/ninjaPizza.png' %}" alt="Little Ninja Pizza"/>
                <li>Emoji</li>
                <img src="{% static 'images/ninjaPizzaEmoji.jpg' %}" alt="Ninja Pizza Emoji"/>
                <li>Leader</li>
                <img src="{% static 'images/ninjaPizzaLeader.png' %}" alt="Ninja Pizza Leader"/>
                <li>Siblings</li>
                <img src="{% static 'images/ninjaPizzaSiblings.jpg' %}" alt="Ninja Pizza Siblings"/>
                <li>ExtraPepporoni</li>
                <li>MeatLovers</li>
            </ul>
        </div>
        <div id="result">
            <h1>Pizza That Vanishes Quickly, Without Trace!</h1>
            <button>Pizza Vanish! <span class='chose'></span></button>
            <h4></h4>
        </div>
    </div> -->
    <!-- This is the link for the Java Script file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>

