<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Propriedad Shop </title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href='/'>Home</a>
        <a href='/test/'>Test page</a>
        <a href='/about/'>About page</a>
        <a href='/contributors/'>Contributors page</a>
        <a href='/form/'>Sign up form</a>
        <a href='/the-shop/'>The Property Shop</a>
    </nav>
    <h3>Shop Totals: <input type='text' disabled value='${{request.session.price}}'></h3>
    <a href='/reset'><button>Reset</button></a>
    <div class='shopItems'>    
        <div class='items'>
        <h4>Souvenirs</h4>
        <p>4-9 tickets</p>
        <form action='/purchase/' method='post'>
            {% csrf_token %}
            <input type='hidden' name='categories' value='souvenirs'>
            <button>Purchase Souvenirs</button>
        </form>
    </div>
    <div class='items'>
        <h4>Food</h4>
        <p>2-7 tickets</p>
        <form action='/purchase/' method='post'>
            {% csrf_token %}
            <input type='hidden' name='categories' value='food'>
            <button>Purchase Food</button>
        </form>
    </div>
    <div class='items'>
        <h4>T-Shirts</h4>
        <p>10-20 tickets</p>
        <form action='/purchase/' method='post'>
            {% csrf_token %}
            <input type='hidden' name='categories' value='tShirts'>
            <button>Purchase T-Shirts</button>
        </form>
    </div>
    <div class='items'>
        <h4>Stuffed Animals</h4>
        <p>5-15 tickets</p>
        <form action='/purchase/' method='post'>
            {% csrf_token %}
            <input type='hidden' name='categories' value='stuffedAnimals'>
            <button>Purchase Stuffed Animals</button>
        </form>
    </div>
    </div>
</body>
<footer>
    <p>Jardin Del Valle &copy, 2022, Made by Osvaldo Jr.</p>
</footer>
</html>
